/* import roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
	font-family: roboto, arial, sans-serif; /* roboto as standard font, arial & sans-serif are backups */
	font-size: 14px; /* universal font size */
	margin: 0; /* remove standard margin that some browsers add */
	padding: 0; /* remove standard padding that some browsers add */
}

footer,
footer > div { /* selects all div elements where the parent is a footer element */
	align-items: center; /* centers childs vertically */
	display: flex; /* makes it easier to design flexible responsive layout structure without having to use floats or positioning */
	flex-wrap: wrap; /* pushes children containers below when they no longer fit in the same row */
	justify-content: space-around; /* centers childs horizontally */
	text-align: center; /* universal footer text centering */
}

.footer-logo {
	height: 200px;
	width: 45%;
}

.footer-logo img {
	width: 300px;
}

.footer-links {
	align-items: baseline; /* starts lists on same height */
	height: 200px;
	text-align: left;
	width: 55%;
}

.footer-links ul {
	list-style-type: none; /* remove bullet from lists */
	margin-top: 45px; /* correction for baseline to bring it closer to centering */
	padding: 0; /* remove standard ul padding */
	width: 25%;
}

.footer-links li:first-child { /* applies only to first item in lists */
	font-size: 16px;
	font-weight: bold;
	line-height: 40px; /* extra spacing to emphasize first item as title */
}

.footer-links a {
	color: #999;
	text-decoration: none; /* remove underline from links */
}

.footer-links a:hover { /* when hovering the link */
	color: #666;
}
	
.footer-copyright {
	border-top: 1px solid #e6e6e6;
	color: #999;
	font-size: 12px;
	height: 100px;
	width: 33%;
}

.footer-quote {
	border-top: 1px solid #e6e6e6;
	font-size: 20px;
	font-weight: bold;
	height: 100px;
	width: 34%;
}

.footer-quote span {
	color: #ee7b00; /* orange */
}

.footer-social {
	border-top: 1px solid #e6e6e6;
	font-size: 25px;
	height: 100px;
	width: 33%;
}

.footer-social a {
	color: #999;
}

.footer-social a:hover .fa-facebook { /* applies to icon when hovering the link (a) */
	color: #3b5998;
}

.footer-social a:hover .fa-twitter {
	color: #00aced;
}

.footer-social a:hover .fa-youtube {
	color: #cd201f;
}

.footer-social a:hover .fa-linkedin {
	color: #007bb6;
}

.footer-social a:hover .fa-instagram {
	color: #125688;
}

.footer-social a:hover .fa-snapchat {
	color: #fffc00;
}

/* 1024px is breakpoint for desktops, laptops */
@media (max-width: 1023px) {
	.footer-social a {
		width: 33%; /* limits buttons to 3 per row */
	}
}

/* 720px is breakpoint for tablets, below is for mobile */
@media (max-width: 719px) {
	.footer-logo {
		width: 100%; /* enlarge to entire device width */
	}
	
	.footer-links {
		display: none; /* disable section */
	}
	
	.footer-copyright { /* enlarge to half the device width */
		width: 50%;
	}
	
	.footer-quote {
		width: 50%;
	}
	
	.footer-social {
		display: none;
	}
}