html,body {
    margin: 0px;
    padding: 0px;
    font-family: "roboto","arial", "sans-serif"; 
}


.headercontent  {
    background-image: url(../images/header-zonder-tekst.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
  
} 

.cmd {
    width: 34%;
    margin-left: 33%;
    
}

h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: normal;

}

.cmd p {
   border: 3px solid #999;
   text-align: center;
   width: 20%;
   margin: 5% auto 0;
   padding-top: 2%;
   padding-bottom: 2%;
    color:#999;
    
}

.heart {
     width: 33%;
    font-size: 20px;
    height: 100px;
    color: #999;
    
}

.intro-text {
    color: #767676;
    width: 40%;
    margin-left: 10%;
    padding-right: 3%;
   

}

.intro-text a {
    text-decoration: none;
    color: #7e72ae;
}
h2 {  

    font-size: 30px;
    color: #020202;
 }

.intro-image {
  width: 50%;  
}

.intro-image img {
    width: 100%;
    
}

.homepage-content {
    display: flex;
    margin-top: 3%;
   
}

.introtext-bold {
    font-weight: bold;
    
}

.intro-text span {
    font-weight: bold;
}