/* import roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* general */
body,
html {
	color: #999; /* dark gray ; default font color */
	font-family: roboto, arial, sans-serif; /* roboto as standard font, arial & sans-serif are backups */
	font-size: 14px; /* universal font size */
	margin: 0; /* remove standard margin that some browsers add */
	padding: 0; /* remove standard padding that some browsers add */
}

a {
	color: #999; /* dark gray ; default link color */
}

h1, h2, h3, h4, h5, h6 {
	color: #000; /* black ; default header color */
}

.spacing-left {
	padding-left: 5px;
}

.spacing-right {
	padding-right: 5px;
}

/* navbar */
.menunav {
	background-color: #4b4a4b;
	display: flex;
	height: 50px;
	justify-content: flex-end;
}

.menunav a {
	color: #fff;
	font-size: 17px;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.menunav-hover:hover {
	color: #666;
}

.menunav input[type=text] {
	border: none;
	border-radius: 50px;
	font-size: 16px;
	margin-right: 16px;
}

.topnav {
	background-color: #fefbfb; /* light grayish red */
	display: flex;
	overflow: hidden;
	text-align: center;
}

.topnav-hover:hover { /* style for the hover */
	border-bottom: 2px solid #ee7b00;
	color: #ee7b00;
}

.topnav .icon {
	display: none; /* hide the link that opens only on small screens */
}

.topnav-logo {
	margin-left: 5%;
	width: 20%;
}

.topnav-logo img {
	width: 100%;
}

.topnav-menu {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 75%;
}

.topnav-menu a { /* style the links in the navbar */
	font-size: 15px;
	font-weight: bold;
	margin-left: 1%;
	margin-right: 1%;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.topnav-menu a.active { /* style for the active page */
	border-bottom: 2px solid #ee7b00;
}

.topnav-hover-mobile {
	display: none;
}

.dropdown {
	overflow: hidden;
}

.dropbtn {
	background-color: inherit;
	border: none;
	color: #999; /* dark gray */
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	outline: none;
	padding: 14px 16px;
}

.dropbtn:hover {
	border-bottom: 2px solid #ee7b00; /* orange */
	color: #ee7b00; /* orange */
}

.dropdown-content {
	background-color: #fefbfb; /* light grayish red */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* black .2 */
	display: none;
	min-width: 160px;
	position: absolute;
	z-index: 3;
}

.dropdown:hover .dropdown-content { /* takes care of the break in between the links in the dropdown menu */
	display: block;
}

.dropdown-content a { /* takes care of the break in between the links in the dropdown menu*/
	display: block;
}

.dropdown-content a:hover{
	border-bottom: 2px solid #ee7b00; /* orange */
	color: #ee7b00; /* orange */
}

/* homepage content */
.headercontent  {
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
}

.home {
	background-image: url(../images/banner-home.jpg); /* banner image */
}

.major-gd {
	background-image: url(../images/banner-major-gd.jpg); /* banner image */
}

.major-id {
	background-image: url(../images/banner-major-id.jpg); /* banner image */
}

.major-vd {
	background-image: url(../images/banner-major-vd.jpg); /* banner image */
}

.info {
	background-image: url(../images/praktische-info-header.jpg); /* banner image */
}

.contact {
	background-image: url(../images/banner-contact.jpg); /* banner image */
}

.cmd {
	margin-bottom: 13%;
	margin-top: 13%;
	width: 100%;
}

.cmd h1{
	font-size: 40px;
	color: #fff; /* white */
	text-align: center;
	font-weight: normal;
}

.cmd .button {
	border: 3px solid #999;
	color:#999; /* gray */
	margin: 5% auto 0;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	width: 10%;
}

.cmd .description {
	color: #fff; /* white */
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

.homepage-content,
.majors-content {
	background-color: #f9f9f9; /* very light gray (mostly white) */
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
}

.intro-text {
	margin-left: 7%;
	padding-right: 3%;
	width: 40%;
}

.intro-text a {
	color: #7e72ae; /* blue */
	text-decoration: none;
}

.intro-text h2 {  
	color: #020202; /* black */
	font-size: 30px;
 }

.intro-image {
	width: 50%;  
}

.intro-image img {
	width: 100%;
}

.introtext-bold {
	font-weight: bold;
}

.intro-text span {
	font-weight: bold;
}

.home-majors {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

.div-img {
	margin: 0 1%;
	overflow: hidden;
	position: relative;
}

.div-img img {
	width: 100%;
}

.div-img .caption {
	cursor: pointer;
	height:100%;
	position: absolute;
	top:0;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.35s ease;
	width: 100%;
}

.effect1:hover .caption {
	transform: scaleY(1);
}

.caption-text h4 {
	color: #fff; /* white */
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
}

.caption-text h5 {
	border: 2px solid #fff; /* white */
	border-radius: 40px;
	color: #fff; /* white */
	display: inline-block;
	font-size: 14px;
	height: 20px;
	margin: 0;
	padding: 5px;
	text-align: center;
	width: 90px;
}

.caption-text a {
	color: #fff;
	text-decoration: none;
}

.caption-text {
	color: #fff; /* white */
	padding: 5%;
	position: absolute;
	text-align: center;
	top: 50%;   
	transform: translateY(-50%); 
	width: 90%;
	z-index: 5;
}

.overlay {
	background-color: #ee7f00; /* orange */
	height: 100%;
	position: absolute;
	width: 100%;
}

/* agenda */
.agenda {
	margin: 50px 3%;
}

.agenda h3 {
	color: #ee7b00; /* orange */
	font-size: 20px;
}


.agenda-table {
	margin: 0 auto 1%;
	width: 50%;
}

.agenda-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.agenda-table td {
    border: 1px solid #ddd; /* gray */
    text-align: left;
    padding: 20px;
}

.agenda-table td:first-child { /* every first table cell of a row */
	background-color: #ee7b00; /* orange */
	color: #fff /* white */
}

.agenda-buttons {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	width: 50%;
}

.agenda-buttons a {
	align-items: center;
	color: #ee7b00; /* orange */
	display: flex; /* to align button and text */
	font-size: 20px;
	text-decoration: none; /* remove underline */
}

.agenda-buttons span {
	font-size: 40px;
	padding: 5px;
}

/* majors content */
.major-structure {
	margin: 50px auto 0;
	width: 80%;
}

.major-structure h2 {
	text-align: center;
}

.tab-bar {
	display: flex; /* re-display buttons in same row */
}

.tab-button {
	background-color: #fff; /* white */
	border: 1px solid #e6e6e6; /* very light gray */
	border-bottom-color: #bbb; /* gray */
	color: #bbb; /* gray */
	display: block; /* will remove standard spacing from buttons */
	height: 50px;
	width: 25%;
}

.tab-button:focus,
.tab-active { /* replace focus with active styling for non-mouse compatability */
	background-color: #f2f2f2; /* very light gray */
	border-bottom: none;
	border-color: #bbb; /* gray */
	color: #000; /* black */
	font-weight: bold;
	outline: none; /* remove focus ring from button click */
}


.year {
	background-color: #f2f2f2; /* very light gray */
	border-bottom: 1px solid #bbb; /* gray */
	border-left: 1px solid #bbb; /* gray */
	border-right: 1px solid #bbb; /* gray */
	display: none; /* default disabled, tab is displayed with JavaScript when the user clicks on the associated button */
	flex-wrap: wrap;
	min-height: 510px; /* prevent tabs from having different heights unless necessary (smaller than iPhone 7) */
}

.label {
	background-color: #ee7b00; /* orange */
	border-radius: 4px;
	color: #fff; /* white */
	font-size: 12px;
	padding: 2px 4px;
}

.year span {
	margin-right: 25px; /* spacing between subjects */
}

.year h3 {
	font-size: 18px;
}

.year h4 {
	margin-top: 40px;
	margin-bottom: 0;
}

.tab-left {
	margin: 5%;
	width: 40%;
}

.tab-right {
	background-repeat: no-repeat;
	background-size: cover; /* always fully fills width and height */
	width: 50%;
}

.tab-1 {
	background-image: url(../images/tab-1.jpg); /* tab image 1 */
}

.tab-2 {
	background-image: url(../images/tab-2.jpg); /* tab image 2 */
}

.tab-3 {
	background-image: url(../images/tab-3.jpg); /* tab image 3 */
}

.tab-4 {
	background-image: url(../images/tab-4.jpg); /* tab image 4 */
}

.tab-right img {
	width: 100%; /* of parent */
	vertical-align: top; /* removes white space at bottom */
}

.major-quote {
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	width: 40%;
}

.major-quote span {
	color: #ffbc75; /* very light orange */
	font-size: 20px;
}

.quote {
	margin: 10% auto 0;
}

.major-quote h4{
	color: #000; /* black */
	border-top: 1px solid #666; /* dark gray */
	font-size: 13px;
	margin: 8% auto 0;
	padding-top: 5%;
}

.quote-title {
	color: #666; /* very dark gray */
	font-size: 11px;
	margin: 3% auto 0;
}

.major-career {
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
}

.career-gd {
	background-image: url(../images/career-gd.jpg); /* career image */
}

.career-id {
	background-image: url(../images/career-id.jpg); /* career image */
}

.career-vd {
	background-image: url(../images/career-vd.jpg); /* career image */
}

.career-description {
	color: #fff; /* white */
	margin: 10% 0;
	width: 35%;
}

.career-description h2 {
	color: #fff; /* white */
	font-weight: normal;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
	background-color: #f5f5f5; /* light gray */
	padding: 50px 0;
}

.portfolio h2 {
	font-size: 18px;
	text-align: center;
	width: 100%   
}

.column {
	width: 19%;
	height: 30%;
	margin: 2%;
	padding: 1%;
	background-color: #fefefe; /* white */
}

.column img {
	width: 100%;
}

.column h3 {
	padding-top: 0;
}

.column iframe {
	border: 0; /* remove standard iframe border */
	width: 100%;
}

.introtext {
	font-size: 14px;
	font-weight: bold;
}

/* info content */

/* contact content */

/* meeting */
.meeting {
	background-color: #4b4a4b; /* gray */
	color: #d4d4d4; /* white */
	padding: 50px 0 5%;
	text-align: center;
}

.meeting-intro {
	margin: 0 auto;
	width: 50%;
}

.meeting-intro h3 {
	color: #fff; /* white */
	font-size: 28px;
	font-weight: normal;
}

.meeting-jonathan {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.meeting-image {
	margin-right: 10%; /* spacing between image and contact */
}

.meeting-image img {
	width: 150px; /* px instead of % to avoid resizing */
}

.meeting-contact p {
	margin: 0;
}

.meeting-contact h4 {
	color: #fff; /* white */
	font-weight: normal;
}

.align-left {
	display: inline-block;
	text-align: left;
}

/* register */
.register {
	align-items: center;
	background-color: #303030; /* gray */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2% 0 2%;
}

.register-convinced {
	color: #7b7b7b; /* gray */
	margin-right: 10%;
}

.register-convinced span {
	color: #a6a6a6; /* gray */
	font-style: italic;
}

.register-button {
	background-color: #6848e1; /* purple */
	border-radius: 20px; /* rounded edges */
	color: #fff; /* white */
	padding: 5px 15px;
	text-decoration: none; /* remove default underline */
}

/* footer */
footer,
footer > div { /* selects all div elements where the parent is a footer element */
	align-items: center; /* centers childs vertically */
	display: flex; /* makes it easier to design flexible responsive layout structure without having to use floats or positioning */
	flex-wrap: wrap; /* pushes children containers below when they no longer fit in the same row */
	justify-content: space-around; /* centers childs horizontally */
	text-align: center; /* universal footer text centering */
}

.footer-logo {
	height: 200px;
	width: 45%;
}

.footer-logo img {
	width: 300px;
}

.footer-links {
	align-items: baseline; /* starts lists on same height */
	height: 200px;
	text-align: left;
	width: 55%;
}

.footer-links ul {
	list-style-type: none; /* remove bullet from lists */
	margin-top: 45px; /* correction for baseline to bring it closer to centering */
	padding: 0; /* remove standard ul padding */
	width: 25%;
}

.footer-links li:first-child { /* applies only to first item in lists */
	font-size: 16px;
	font-weight: bold;
	line-height: 40px; /* extra spacing to emphasize first item as title */
}

.footer-links a {
	text-decoration: none; /* remove underline from links */
}

.footer-links a:hover { /* when hovering the link */
	color: #666;
}
	
.footer-copyright {
	border-top: 1px solid #e6e6e6;
	font-size: 12px;
	height: 100px;
	width: 33%;
}

.footer-quote {
	border-top: 1px solid #e6e6e6;
	font-size: 20px;
	font-weight: bold;
	height: 100px;
	width: 34%;
}

.footer-quote span {
	color: #ee7b00; /* orange */
}

.footer-social {
	border-top: 1px solid #e6e6e6;
	font-size: 25px;
	height: 100px;
	width: 33%;
}

.footer-social a:hover .fa-facebook { /* applies to icon when hovering the link (a) */
	color: #3b5998;
}

.footer-social a:hover .fa-twitter {
	color: #00aced;
}

.footer-social a:hover .fa-youtube {
	color: #cd201f;
}

.footer-social a:hover .fa-linkedin {
	color: #007bb6;
}

.footer-social a:hover .fa-instagram {
	color: #125688;
}

.footer-social a:hover .fa-snapchat {
	color: #fffc00;
}

/* 1024px is breakpoint for desktops, laptops */
@media (max-width: 1023px) {
	.topnav-menu a { /* style the links in the navbar */
		margin: 0;
	}
	
	/* agenda */
	.agenda-table,
	.agenda-buttons	{
		width: 70%;
	}
	
	/* major */
	.column { 
		width: 44%
	}
	
	.footer-social a {
		width: 33%; /* limits buttons to 3 per row */
	}
}

/* 720px is breakpoint for tablets, below is for mobile */
@media (max-width: 719px) {
	/* navbar */
	.menunav a:not(:last-child) {
		display: none;
	}

	.topnav {
		text-align: left;	
	}
	
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a:hover .fa-twitter{
		display: none;
	}
	
	.topnav a.icon {
		float: right;
		display: block;
	}
	
	.topnav-menu {
		display: block;
	}

	.topnav-menu a {
		display: inline-block; /* fixes links from ignoring parent height for padding */
	}
	
	.topnav-menu.responsive { /* the "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
		position: relative;
	}
	
	.topnav-menu.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.topnav-menu.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	
	.topnav-logo {
		display: none;
	}
	
	.topnav-menu {
		width: 100%;
	}
	
	.dropbtn {
		display: none;
	}
	
	/* homepage content */
	.intro-text {
		margin: 0 10%;
		padding: 0;
		width: 80%;
	}
	
	.intro-image {
		display: none;
	}
	
	.home-majors {
		justify-content: center;
	}
	
	.div-img {
		margin: 5%;
		width: 50%;
	}
	
	.caption-text p {
		font-size: 12px;
	}
	
	/* agenda */
	.agenda-table,
	.agenda-buttons	{
		width: 90%;
	}
	
	/* meeting */
	.meeting-jonathan {
		flex-direction: column;
	}
	
	.meeting-image {
		margin: 0;
	}
	
	/* register */
	.register {
		flex-direction: column;
	}
	
	.register-convinced {
		margin: 0;
	}
	
	.register-action {
		margin-bottom: 15px;
	}
	
	/* majors content */
	.major-structure {
		width: 98%; /* supported up till iPhone 7 size */
	}
	
	.tab-left {
		width: 90%;
	}

	.tab-right {
		display: none; /* disable section */
	}
	
	/* footer */
	.footer-logo {
		width: 100%; /* enlarge to entire device width */
	}
	
	.footer-links {
		display: none; /* disable section */
	}
	
	.footer-copyright { /* enlarge to half the device width */
		width: 50%;
	}
	
	.footer-quote {
		width: 50%;
	}
	
	.footer-social {
		display: none;
	}
}

.admission-requirements {
    text-align: center;
}

.schedule-and-books {
    display: flex;
    flex: wrap;
    padding-top: 4%;
    
}

.schedule {
    width: 50%;
    background-color: #eeeeef;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 3%;
    padding-bottom: 4%;
}

.schedule h2 {
    text-align: center;
}

.books {
    width: 50%;
    background-color: #684edd;
     padding-top: 3%;
    
}

.books h2 {
    text-align: center;
    color: #fff;
}

.schedule p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.books p {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.video {
}
.video iframe {
}

.bestel-nu h5  {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    color: #684edd;
    padding: 1%;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
}

.bestel-nu  {
    text-decoration: none;
}

.header-intro {
    text-align: center;
    color: #fff;
    font-size: 18px;
    
}

.fa fa-chevron-down {
    color: #999;
    font-size: 3px;
    text-align: center;
}